@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --work-sans-ff: "Work Sans", sans-serif;
  --crim-son-ff: "Crimson Text", serif;

  --green-100-clr: #74c69d;
  --white-75-clr: rgba(255, 255, 255, 0.75);
  --dark-75-clr: rgba(33, 37, 41, 0.75);
  --dark-50-clr: rgba(33, 37, 41, 0.5);

  --content-container-width: 1180px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
  font-family: var(--work-sans-ff);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.global-container {
  /* overflow: hidden; */
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 160px;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.content-container {
  width: 100%;
  max-width: var(--content-container-width);
  display: flex;
}

.text-wrap-container {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}

.btn-container button {
  font-family: var(--work-sans-ff);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
  padding: 12px 48px;
  border-radius: 5px;
}

.heading {
  font-family: var(--crim-son-ff);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
}

.sub-heading-container {
  text-align: center;
}

.sub-heading {
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
}

.paragraph {
  font-family: var(--work-sans-ff);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.25;
}

.label {
  font-family: var(--work-sans-ff);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.d-flex {
  display: flex !important;
}

/* Header */

header {
  position: fixed; /* fixed */
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: var(--green-100-clr);
  box-shadow: 0px 4px 8px rgba(0, 12, 43, 0.05);
}

header .header-container {
  width: 100%;
  max-width: var(--content-container-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .header-container h1 {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: var(--work-sans-ff);
  font-size: 32px;
  font-weight: 500;
}

header .header-container h1 img {
  height: 32px;
}

header .header-container h1 span {
  margin-left: 18px;
}

header .header-container .navbar-toggle-btn {
  display: none;
  color: #fff;
  font-size: 1.5rem;
}

header .header-container .navbar-toggle-btn i {
  display: none;
}

header .header-container nav {
  display: flex;
  gap: 30px;
}

header .header-container nav a {
  color: #fff;
  font-size: 20px;
}

/* Footer */

footer {
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--green-100-clr);
  box-shadow: 0px -4px 8px rgba(0, 12, 43, 0.1);
}

footer .footer-container {
  width: 100%;
  max-width: var(--content-container-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
}

footer .footer-container .content-1 {
  display: flex;
  gap: 0 20px;
}

footer .footer-container .content-1 a {
  display: flex;
  padding: 5px;
}

footer .footer-container .content-2 .sub-heading {
  color: #fff;
}

@media screen and (max-width: 1200px) {
  :root {
    --content-container-width: 940px;
  }

  .heading {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --content-container-width: 740px;
  }

  .heading {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --content-container-width: 500px;
  }

  header .header-container .navbar-toggle-btn {
    display: block;
  }

  header .header-container nav {
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    background-color: var(--green-100-clr);
    box-shadow: 0px 4px 8px rgba(0, 12, 43, 0.05);
    padding: 30px;
    display: none;
  }

  footer {
    height: 90px;
  }

  footer .footer-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 568px) {
}
